.EventNotification {
  border-top: 1px solid #EFF1F3;
  padding: 10px 5px;
  color: #696773;
  font-size: 11pt;
}

.EventNotification-message {
  margin-bottom: 5px;
}

.EventNotification-userName {
  font-weight: bold;
  color: black;
}

.EventNotification-timestamp {
  font-size: 10pt;
}