.Button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0 rgba(0,0,0,0.02);
  background-color: #009FB7;
  color: white;
  padding: 5px 25px;
}

.Button-medium {
  font-size: 18pt;
}

.Button-large {
  font-size: 32pt;
}

.Button--disabled {
  background-color: #EFF1F3;
}