.AttendeeVisualization-pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 1.5s;
  animation-name: attendeeVisualizationPulse;
  animation-iteration-count: infinite;
}

@keyframes attendeeVisualizationPulse {
  from {
    r: 4%;
    opacity: 1;
  }
  to {
    r: 10%;
    opacity: 0;
  }
}
