.AttendeesListItem {
  padding: 8px 0;
  border-bottom: 1px solid #EFF1F3;
}

.AttendeesListItem-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.AttendeesListItem-content > div {
  display: flex;
  flex-direction: row;
}

.AttendeesListItem-iconButton {
  position: relative;
  padding: inherit;
  margin: 0 10px 0 0;
  border: none;
  outline: none;
}

.AttendeesListItem-icon,
.AttendeesListItem-subIcon {
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AttendeesListItem-icon {
  height: 10vw;
  width: 10vw;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0 rgba(0,0,0,0.02);
  font-size: 150%;
}

.AttendeesListItem-subIcon {
  position: absolute;
  right: -.5vw;
  bottom: -.5vh;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0 rgba(0,0,0,0.02);
  padding: .4vh;
}

.AttendeesListItem-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AttendeesListItem-name {
  font-weight: normal;
  font-size: 15pt;
  margin: 0;
}

.AttendeesListItem-lut {
  font-size: 11pt;
}

.AttendeesListItem-eta {
  align-self: center;
}