.NavBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #EFF1F3;
}

.NavBar > * {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}