.AdminPage {
  padding: 5px 5px 100px;
  overflow-x: auto;

}

.AdminPage-tableWrapper {

}
.AdminPage-table {
  table-layout: fixed;
  width: 100%;
}

.AdminPage-tableData {
  overflow-x: auto;
  text-align: center;
}