.NotificationListItem {
  padding: 10px 5px;
  font-size: 11pt;
  display: flex;
  flex-direction: column;
}

.NotificationListItem > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NotificationListItem-header {
  margin-bottom: 5px;
}

.NotificationListItem-timestamp {
  font-size: 10pt;
  color: #bfbfbf;
}