.NotificationListItem {
  padding: 10px 5px;
  font-size: 11pt;
}

.NotificationListItem-message {
  margin-bottom: 5px;
}

.NotificationListItem-userName {
  font-weight: bold;
}

.NotificationListItem-timestamp {
  font-size: 10pt;
  color: #bfbfbf;
}